.challenge {
  text-align: center;
  margin: 3rem 0 0;
  padding: 0 1rem;
}

.view2 {
  margin-top: 5rem;
}

@import 'assets/scss/nav.scss';
@import 'assets/scss/cards.scss';
@import 'assets/scss/modal.scss';
@import 'assets/scss/button.scss';
